@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

h1{
grid-row-start: 2;
grid-column-start: 3;
color : black;
font-family: 'Raleway', sans-serif;
}
.a_wrap{
  position: relative;
  overflow: hidden;
  height:100vh;
  width: 100vw;
}

.a1{
  width: 1000px;
  height: 100vh;
  background: pink;
  position: absolute;
  clip-path: polygon(25% 0%, 63% 0, 38% 100%, 0 100%);
  border: solid red px;
  top: 0px;
  animation:run 2s infinite;
   animation-delay: .4s;
}

.a2{
  width: 1000px;
  height: 100vh;
  background: red;
  position: absolute;
  clip-path: polygon(25% 0%, 63% 0, 38% 100%, 0 100%);
  border: solid red px;
  top: 0px;
    animation:run 2s infinite;
  animation-delay: .8s;
}

.a3{
  width: 1000px;
  height: 100vh;
  background: yellow;
  position: absolute;
  clip-path: polygon(25% 0%, 63% 0, 38% 100%, 0 100%);
  border: solid red px;
  top: 0px;
  animation:run 2s infinite;
}

@keyframes run{
  0%{
    left:-50%;
  }
  100%{
    left:100%;
  }
}

/******************************************/
.panwrap{
  top:40vh;
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  /*animation:opening 3s infinite;*/
  overflow:hidden;

}


@keyframes opening{
  0%{
opacity:1;
  }
  90%{
    opacity:.8;
}
  100%{
opacity:0;
  }

}

/***********************************/
.pan{
position: absolute;
  top:35%;
  left:25%;
  width: 100px;
  height: 30px;
  border-radius: 50%;
  border-bottom: solid 30px gray;
  animation-timing-function: ease;
  animation: cook .4s infinite alternate;
  z-index:9999;
}

@keyframes cook{
  0%{
     transform:rotate(0.03turn);
  }
  100%{
     transform:rotate(-0.03turn);
  }
}

.pan:before{
  content:'';
  position: absolute;
  width: 66px;
  height: 11px;
  right: 17px;
  top:40px;
  opacity: .5;
  border-radius: 50%;
  border-bottom: solid 9px #A91717;

}

.pan:after{
  content:'';
  position: absolute;
  width: 23px;
  height: 6px;
  border-radius: 20%;
  background: black;
  right: -17px;
  top:30px;
  border:black 1px solid;

}

.ball{
  border-radius: 50%;
  position: absolute;
  left:60px;
  width: 20px;
  height: 20px;
  background: #ECD82D ;
  animation: jump 1s infinite alternate;
  animation-delay: .5s;
  z-index:1;
}

.ball:after{
  content:'';
  border-left:solid 1px  #FFF;
  border-right:solid 1px  #FFF;
  position:absolute;
  left: 10px;
  width: 3px;
  height:19px;
  z-index: 1;
}

@keyframes jump{
  0%{
    top: 50%;
    transform:rotate(0deg);
  }
    50%{
    top: 10%;
      transform:rotate(360deg);
  }
  100%{
    top: 50%;
    transform:rotate(0deg);
  }
}
.carrot{

  width: 28px;
  height: 28px;
  left:110px;
  position: relative;

  animation: turn 1s infinite ;
}

@keyframes turn{
 0%{
   transform:rotate(0turn);
   top:20px;
  }
  50%{
    transform:rotate(0.5turn);
   top:90px;
  }
  100%{
     transform:rotate(1turn);
    top:20px;
  }
}

.head{
  position: absolute;
  left:15px;
  width: 23px;
  height: 23px;
  background: green;
  transform:rotate(0.12turn);
  clip-path: polygon(1% 48%, 7% 81%, 33% 66%, 45% 27%, 68% 30%, 50% 72%, 69% 48%, 91% 54%, 67% 81%);
}
.body{
  position: absolute;
  left:12px;
  top:10px;
 width: 18px;
 height: 18px;
 background: #E92D2D;
 clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
 transform:rotate(0.3turn);
}

.bacon{
  animation: turn 1s infinite ;
  position: absolute;
  left:80px;
  background: #CF4D4D;
  width: 30px;
  height: 30px;
  animation-delay: .1s;
  clip-path: polygon(34% 5%, 20% 8%, 15% 21%, 23% 38%, 20% 51%, 8% 59%, 13% 76%, 41% 83%, 43% 70%, 54% 61%, 58% 41%, 52% 24%, 52% 10%);
}

.baconli{
  position:absolute;
  left:7px;
  top:2px;
  width:4px;
  height:50px;
  border:1px solid #fff;
}

.green0{
  position:absolute;
  left:55px;
  width:6px;
  height:6px;
  background: green;
  animation: jump .8s infinite alternate;
}

.green1{
  position:absolute;
  left:67px;
  width:6px;
  height:6px;
  background: green;
  animation: jump .8s infinite alternate;
  animation-delay: .1s;
}

.green2{
  position:absolute;
  left:77px;
  width:6px;
  height:6px;
  background: green;
  animation: jump 1s infinite alternate;
  animation-delay: .2s;
}

.green3{
  position:absolute;
  left:87px;
  width:6px;
  height:6px;
  background: green;
  animation: turn 1s infinite alternate;
  animation-delay: .1s;
}

.green4{
  position:absolute;
  left:110px;
  width:6px;
  height:6px;
  background: green;
  animation: jump 1s infinite alternate;
}

.green5{
  position:absolute;
  left:90px;
  width:6px;
  height:6px;
  background: green;
  animation: turn 1s infinite alternate;
  animation-delay: .1s;
}

.dotwrap{
  position: relative;
  width:130px;
  margin:auto;
  height: 30px;
  top: 110px;
  left:6px;
  overflow:hidden;
}
.dot1{
  position: absolute;
  border:solid 13px;
  border-radius:50%;
  top: 3px;
  background: #000;
  animation:run .5s infinite;
}

.dot2{
  position: absolute;
  border:solid 13px;
  border-radius:50%;
  top: 3px;
  left: 50px;
  background: #000;
  animation:run .5s infinite;
  animation-delay: .2s;
}




.card-title {
  margin-top: 0.5em;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  font-size : 120%;
  margin-bottom: 1em;
}

.card-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 6;

}

.card{
  flex-basis: 30%;
  border: 5px solid black;
  background-color: #F2E8DE;
  border-radius: 10px;
  padding: 20px;
  width: 45%; /* reduce the width to fit two cards side by side */
  display:flex;
  flex-direction:column;
  align-items:center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-right: 20px; /* add a margin to create space between cards */
  text-align: center;
}
.card-title {
  margin-top: 0.5em;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}
h2{
color:black;}

@media only screen and (max-width: 1000px) {
  body {
    flex-basis: 100%;
  }

}
#texte1{
grid-row-start: 3;
}
#texte2{
color : red;
grid-row-start: 3;
grid-column-start: 2;
}
body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
img{
  align-self: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

li {
    float: left;
}
a{
text-decoration: none;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}